<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css" integrity="sha512-EZLkOqwILORob+p0BXZc+Vm3RgJBOe1Iq/0fiI7r/wJgzOFZMlsqTa29UEl6v6U6gsV4uIpsNZoV32YZqrCRCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <title>Login</title>
</head>
<body>
    
        <style>
            p {
                margin-top: -25px;
            }
        </style>
        <h1> Metacarta </h1>
        <p style="text-align: right;">v.07</p>


    <!-- ... -->

    <% if (isAuthenticated) { %>
        <a>⭐</a>
    <% } else { %>

    <% } %>

        
        <ul>
            <% if(messages.success_msg) { %>
                <li><%= messages.success_msg %></li>
            <% } %>
            
        </ul>

        <ul>    
            <% if(messages.error){ %>
                <li><%= messages.error %></li>
            <% } %>
        </ul>

        <% if (isAuthenticated) { %>
            <a href="#" onclick="updateModalContent('/users/dashboard')">Dashboard</a>
        <% } else { %>
            <a href="#" onclick="updateModalContent('/modals/login')">Login</a>
            <a href="#" onclick="updateModalContent('/modals/register')">Register</a>
        <% } %>





    </body>    
    </html>

