body {
    font-family: Monospace;
    background: #222;
    color: #fff;
    margin: 0px;
    overflow: hidden;
  }
  h3 {
    font-weight: normal;
  }
  #info {
    color: #fff;
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
  }
  #info a {
    color: #75ddc1;
    font-weight: bold;
  }
  

  .activity-log {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    overflow: auto;
    /*border-right: 1px solid #333; */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.0); /* semi-transparent black */
    z-index: 200;  /* to make sure the log floats on top */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    user-select: none;
}

#log-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-shadow: 0px 0px 5px #000;  /* shadow for better readability */
    user-select: none;
}

#log-list a {
  color: cyan;
}


@keyframes fadeOut {
  to {
      opacity: 0;
  }
}

.fade {
  animation: fadeOut 333s forwards;
}


.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
}

.modal-content {
  width: 120px;
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
}


.userlist {
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: auto;
  max-height: 300px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
  padding: 10px;
  border-right: 1px solid #333;
  z-index: 300;  /* make sure it's on top */
}

#user-list-ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  user-select: none;
}

#user-list-ul li {
  padding: 5px;
  border-bottom: 1px solid #444; /* subtle separator */
}


.contextMenu {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border-radius: 5px;
  overflow: hidden; 
}

.contextMenu button {
  background-color: transparent;
  border: none;
  color: white;
  text-align: left;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}

.contextMenu button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* //Passport Styles */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
}


.dragbutton {
  display: flex;
  justify-content: left;
  align-items: left;
  height: 100vh;
  overflow: hidden; /* Prevent scrolling */
  text-align: center  ;

}


#minimizeButton {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  justify-content: center;  /* Updated from left to center */
  align-items: center;      /* Updated from left to center */
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #fff;
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  z-index: 9998;
}


/* .modal {
  position: relative; /* Changed from absolute to relative */
  z-index: 1000;
  background-color: #000;
  color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(50px);
  opacity: 90%;
}
 */


.full-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9); /* This gives it a white background with slight transparency */
  overflow: auto; /* In case the content exceeds the screen size */
  z-index: 1; /* This ensures it appears above other content */
}




